/* #region FONTS */

@font-face {
    font-family: Source;
    src: url(Fonts/Source.ttf);
}

@font-face {
    font-family: Mailand;
    src: url(Fonts/Mailand.otf);
}

@font-face {
    font-family: Glimp;
    src: url(Fonts/Glimp.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(Fonts/Bebas.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(Fonts/OpenSans.ttf);
}

@font-face {
    font-family: OpenSansLight;
    src: url(Fonts/OpenSans-Light.ttf);
}


/*#endregion*/

:root{
    font-size: 62.5%;
}
::-webkit-scrollbar
{
    background-color: #1A1A1C;

}
::-webkit-scrollbar-thumb
{
    border-radius: 20px;
    background-color: #30D5C8;

}

html
{
    scroll-behavior: smooth;
    
}
body
{
    width: 100%;
    background-color: #262629;

    padding: 0;
    margin: 0;

    font-size: 1.6rem;
    color: white;
    display: grid;


    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    position: fixed;

}

div
{

    text-align: center;
}

h1
{
    
    font-family: bebas;
    color: #30D5C8;
    font-size: 7.5vw;
    margin-bottom: 0;
}

h2
{
    
    font-family: glimp;
    font-size: 1.8vw;
    margin-top: 0;

}

#thankName
{
    color: #C3083F;
    font-weight: bold;
    text-transform: capitalize;
}

@media (max-width: 885px) 
{
    h1
    {
        margin-top: -4%;
        font-size: 9vw;
        margin-bottom: 0;
    }
    
    h2
    {
        padding: 0 2vw;
        font-family: glimp;
        font-size: 3.5vw;
        margin-top: 0;
    
    }
}
@media (min-width: 886px) and (max-width: 1280px) 
{
    h1
    {
        font-size: 9vw;
        margin-bottom: 0;
    }
    
    h2
    {
        padding: 0 2vw;
        font-family: glimp;
        font-size: 3.5vw;
        margin-top: 0;
    
    }
}



@media (min-width: 480.5px) and (max-width: 800px) and (max-height: 500px) 
{
    h1
    {
        margin-top: 2%;
        font-size: 9vw;
        margin-bottom: 0;
    }
    
    h2
    {
        padding: 0 2vw;
        font-family: glimp;
        font-size: 3.5vw;
        margin-top: 0;
    
    }
}