/* #region FONTS */

@font-face {
    font-family: Source;
    src: url(Fonts/Source.ttf);
}

@font-face {
    font-family: Mailand;
    src: url(Fonts/Mailand.otf);
}

@font-face {
    font-family: Glimp;
    src: url(Fonts/Glimp.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(Fonts/Bebas.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(Fonts/OpenSans.ttf);
}

@font-face {
    font-family: OpenSansLight;
    src: url(Fonts/OpenSans-Light.ttf);
}


/*#endregion*/

:root{
    font-size: 62.5%;
}
::-webkit-scrollbar
{
    background-color: #1A1A1C;

}
::-webkit-scrollbar-thumb
{
    border-radius: 20px;
    background-color: #30D5C8;

}

html
{
    scroll-behavior: smooth;
    
}
body
{
    width: 100%;
    background-color: #262629;

    padding: 0;
    margin: 0;

    font-size: 1.6rem;
    color: white;
}


/* #region LOADING PAGE */

.loading
{

    position: fixed;

    display: flex;

    justify-content: center;
    align-items: center;

    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: #1A1A1C;

    transition-duration: 1000ms;
    

}
.loading h1{
    color: #30D5C8;
    

    font-family: bebas;
    font-size: 10vw;


    text-align: center;
    user-select: none;

}
.loading h1 span{
    color: white;

}
.loading_hide
{
    opacity: 0;
    visibility: hidden;    
}

/* #endregion */


.title h1
{
    background: linear-gradient(140deg, rgba(48,213,200,1) 0%, rgba(48,213,200,1) 19%, rgba(255,255,255,1) 20%, rgba(48,213,200,1) 21%, rgba(48,213,200,1) 49%, rgba(255,255,255,1) 50%, rgba(48,213,200,1) 51%, rgba(48,213,200,1) 79%, rgba(255,255,255,1) 80%, rgba(48,213,200,1) 81%, rgba(48,213,200,1) 100%);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradientText 30s linear infinite;

    margin-top: 6%;
    font-size: 10rem;
    font-family: mailand;
    margin: 0;
    padding: 0;
    text-align: center;
    user-select: none;
}


@keyframes gradientText {
    0%{
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
    
}

.container .contactParagraph
{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2.2%;
    margin-top: -1%;
    text-align: center;

    font-family: openSans;
    font-size: 2.5rem;
}

fieldset
{
    width: 40%;
    margin-left: 29%;
    border: #30D5C8 solid .3rem;
    border-radius: 2rem;

}

table 
{
    width: 100%;

}
td
{
    text-align: center;
}
table .text
{
    font-family: openSans;

    margin-top: 1%;
    border-radius: 2rem;
    width: 97%;
    font-size: 2.2rem;
    padding: 1rem;
    border: none;

    outline: none;

    background-color: #313135;
    color: white;

}

table select
{
    text-align: center;
    margin-top: 1%;
    border-radius: 2rem;
    font-size: 2.2rem;
    padding: 1rem;
    border: none;

    background-color: #313135;
    color: white;
}

.subject
{
    padding-top: 1%;

    font-size: 2.2rem;
    font-family: openSans;

}

.subject label
{
    font-family: bebas;
    font-size: 3.8rem;

}

.radio
{
    cursor: pointer;
}


#message
{
    font-size: 2.2rem;

    background-color: #313135;
    color: white;

    resize: none;
    outline: none;
    border: none;
    font-family: openSans;
    width: 98%;
    border-radius: 2rem;
    padding: 1rem;
    height: auto;
}

.buttonContainer
{
    margin-top: 1%;
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
}
.buttonContainer input 
{
    font-family: mailand;
    font-size: 3rem;
    padding: 0 2.5rem;
    color: #30D5C8;
    background-color: #1A1A1C;
    border: solid #30D5C8 .2rem;
    border-radius: 1.2rem;



}

.buttonContainer input:active
{
    color: #C3083F;
    border-color: #C3083F;
}

#error
{
    color: #C3083F;
    font-family: openSansLight;
    font-size: 2.5rem;
    padding: 0 1rem;
}

#error span
{
    font-weight: bold;
    text-transform: uppercase;
    font-family: source;
    font-size: 2.8rem;    
}



/* #region MEDIA */

@media (max-width: 885px) {
    .title h1
    {
        margin-top: 4%;
        font-size: 6.4rem;
    }

    .container .contactParagraph
    {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 10%;
        margin-top: -3%;

        font-size: 1.6rem;
    }

    fieldset
    {
        width: 80%;
        margin: auto;
        border: #30D5C8 solid 0.2rem;

    }

    table 
    {
        width: 100%;
    }

    table .text
    {

        margin-top: 1%;
        width: 90%;
        font-size: 1.4rem;


    }

    table select
    {
        margin-top: 1%;
        font-size: 1.4rem;
        padding: 1rem;

    }
    .subject
    {

        font-size: 1.4rem;

    }

    .subject label
    {
        font-size: 3rem;

    }



    #message
    {
        font-size: 1.4rem;
        width: 90%;

    }

    .buttonContainer
    {
        margin-top: 1%;
        width: 100%;
        text-align: center;
    }
    .buttonContainer input 
    {
        font-family: mailand;
        font-size: 2rem;
        padding: 0 2.5rem;
        color: #30D5C8;
        background-color: #1A1A1C;
        border: solid #30D5C8 .2rem;
        border-radius: 1.2rem;



    }

    #error
    {
        font-size: 1.6rem;
        padding: 0 1rem;
    }

    #error span
    {
        font-weight: bold;
        text-transform: uppercase;
        font-family: source;
        font-size: 2rem;    
    }

}
@media (min-width: 490px) and (max-width: 885px){
    .container .contactParagraph
    {
        margin-bottom: 4%;
    
    }

}
@media (min-width: 886px) and (max-width: 1280px) {

}
@media (min-width: 480.5px) and (max-width: 800px) and (max-height: 500px) {

}

/* #endregion */