/* #region FONTS */

@font-face {
    font-family: Source;
    src: url(Fonts/Source.ttf);
}

@font-face {
    font-family: Mailand;
    src: url(Fonts/Mailand.otf);
}

@font-face {
    font-family: Glimp;
    src: url(Fonts/Glimp.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(Fonts/Bebas.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(Fonts/OpenSans.ttf);
}

@font-face {
    font-family: OpenSansLight;
    src: url(Fonts/OpenSans-Light.ttf);
}


/*#endregion*/

:root{
    font-size: 62.5%;
}
::-webkit-scrollbar
{
    background-color: #1A1A1C;

}
::-webkit-scrollbar-thumb
{
    border-radius: 20px;
    background-color: #30D5C8;

}

html
{
    scroll-behavior: smooth;
    
}
body
{
    width: 100%;
    background-color: #262629;

    padding: 0;
    margin: 0;

    font-size: 1.6rem;
    color: white;
}

/* #region LOADING PAGE */

.loading
{

    position: fixed;

    display: flex;

    justify-content: center;
    align-items: center;

    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: #1A1A1C;

    transition-duration: 1000ms;
    

}
.loading h1{
    color: #30D5C8;
    

    font-family: bebas;
    font-size: 10vw;


    text-align: center;
    user-select: none;

}
.loading h1 span{
    color: white;

}
.loading_hide
{
    opacity: 0;
    visibility: hidden;    
}

/* #endregion */

.container
{
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-areas: 
    "title"
    "paragraph"
    "form"
    "buttons";
    justify-content: center;
    gap: 1rem;
}

.title
{
    grid-area: title;
    text-align: center;

}

.title h1
{
    margin: 0;
    padding: 0;
    margin-top: 2%;
    color: #30D5C8;
    font-family: mailand;
    font-size: 10rem;
    user-select: none;
}

.contactParagraph
{
    margin-top: -1.5%;
    grid-area: paragraph;
    text-align: center;
}
.contactParagraph p
{
    font-family: openSans;
    font-size: 2rem;
}

.contactForm
{
    grid-area: form;
    margin-top: 1rem;
    width: 80%;
    justify-self: center;
}


.contactForm fieldset
{
    border: solid #30D5C8 .25rem;
    border-radius: 2rem;
}
.contactForm table
{
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
}

.contactForm td
{
    padding: .4rem 0;
}

.contactForm table input
{
    color: white;
    width: 100%;
    background-color: #313135;
    border: solid transparent .2rem;
    border-radius: 1.2rem;

    font-size: 2.2rem;
    font-family: opensans;
    padding: 1rem;
    text-align: center;
    transition-duration: 600ms;
}


.contactForm textarea
{
    color: white;
    resize: none;
    width: 100%;
    background-color: #313135;
    border: solid transparent .2rem;
    border-radius: 1.2rem;

    font-size: 2.2rem;
    font-family: opensans;
    padding: 1rem;

    height: 25rem;
    
    transition-duration: 600ms;

}

.contactForm table input:focus
{
    outline: none;
    border-color: #30D5C8;
}

.contactForm textarea:focus
{
    outline: none;
    border-color: #30D5C8;
    
}

.buttonContainer
{
    grid-area: buttons;
    width: 40%;
    margin-left: 32%;
    margin-bottom: 1%;
    margin-top: -1%;
}

.buttonContainer input
{
    width: 48%;
    border: solid #30D5C8 .2rem;
    color: #30D5C8;
    font-family: mailand;
    font-size: 4rem;

    margin: 0 .5%;
    padding: 0.4rem 0rem;

    background-color: #313135;
    border-radius: 1.2rem;

    cursor: pointer;

    transition-duration: 400ms;

}

.buttonContainer input:hover
{
    border-color: #C3083F;
}

.buttonContainer input:active
{
    color: #C3083F;
    transition-duration: 0ms;
}