/* #region FONTS */

@font-face {
    font-family: Source;
    src: url(Fonts/Source.ttf);
}

@font-face {
    font-family: Mailand;
    src: url(Fonts/Mailand.otf);
}

@font-face {
    font-family: Glimp;
    src: url(Fonts/Glimp.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(Fonts/Bebas.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(Fonts/OpenSans.ttf);
}

@font-face {
    font-family: OpenSansLight;
    src: url(Fonts/OpenSans-Light.ttf);
}


/*#endregion*/

.loading
{

    position: fixed;

    display: flex;
    margin-left: -1%;

    justify-content: center;
    align-items: center;

    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: #1A1A1C;

    transition-duration: 1000ms;
    transition-delay: 2000ms;
    

}
.loading h1{
    color: white;

    

    font-family: bebas;
    font-size: 7vw;


    text-align: center;
    user-select: none;

}
.loading h1 span{
    color: #C3083F;

}
.loading_hide
{
    opacity: 0;
    visibility: hidden;    
}
body
{
    background-color: #262629;
    width: 98%;
    margin-left: 1%;

}

.container
{
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr;

}
.title
{
    text-align: center;
    color: #C3083F;
}
.title h1
{
    padding: 0;
    margin: 0;
    margin-top: 4vh;
    font-size: 4.5rem;

    font-family: bebas;
    user-select: none;
    text-decoration: underline;
}

.content
{
    margin-top: -.5vw;
    color: white;
    font-family: openSans;
    font-size: 1.2rem;

}






span
{
    font-weight: bold;
    color: #C3083F;
}


@media (max-width:611px) {

    .title h1
    {
        font-size: 2rem;
    }

    .content
    {
        font-size: .6rem;

    }
}

@media (min-width:612px) and (max-width:1160px) {
    .title h1
    {
        font-size: 3rem;

    }

    .content
    {
        font-size: .7rem;

    }
}

@media (min-width:612px) and (max-width:1160px) and (min-height:300px) {
    .title h1
    {
        font-size: 3.5rem;

    }

    .content
    {
        font-size: .9rem;

    }
}