
/* #region FONTS */

@font-face {
    font-family: Source;
    src: url(Fonts/Source.ttf);
}

@font-face {
    font-family: Mailand;
    src: url(Fonts/Mailand.otf);
}

@font-face {
    font-family: Glimp;
    src: url(Fonts/Glimp.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(Fonts/Bebas.ttf);
}


/*#endregion*/

:root{
    font-size: 62.5%;
}
html
{
    scroll-behavior: smooth;
}
body
{
    width: 100%;
    background-color: #262629;

    padding: 0;
    margin: 0;

    font-size: 1.6rem;
    color: white;
}

/* #region LOADING PAGE */

.loading
{

    position: fixed;

    display: grid;

    align-items: center;

    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: #1A1A1C;

    transition-duration: 1000ms;
    

}
.loading h1{
    color: #C3083F;
    

    font-family: bebas;
    font-size: 10vw;


    text-align: center;
    user-select: none;

}
.loading h1 span{
    color: white;

}
.loading_hide
{
    opacity: 0;
    visibility: hidden;    
}

/* #endregion */

/* #region RETURN */
.return
{
    z-index: 100;
    position: fixed;
    margin: 5rem;
    bottom: 0;
    left: 0;
}
.return a
{   
    text-align: center;
    padding: 1rem 1.6rem 1.6rem 1.4rem;
    text-decoration: none;
    color: white;
    font-size: 5rem;
    background-color: #1A1A1C;
    border: #C3083F solid;
    border-radius: 100%;
    transition-duration: 400ms;
}




/* #endregion */

/* #region HERO */



.hero_container
{
    
    max-width: 100vw;
    height: 100vh;
    align-items: center;

    display: flex;
    justify-content: space-evenly;
}

.text
{
    z-index: 10;

    text-align: center;
    user-select: none;
}

.job
{
    font-family: glimp;
    font-size: 2.5rem;
}

.greeting
{
    margin-top: -5rem;
    font-family: bebas;
    font-size: 4rem;
}

.greeting span
{
    
    color: #C3083F;
    transition-duration: 600ms;
}



.hero_container img
{
    z-index: 9;
    display: block;
    max-height: 100vh;
    width: auto;
}



/* #endregion */

/* #region NAVIGATION */


header
{

    z-index: 98;
    width: 100%;
    background-color: #1A1A1C;
}
nav
{  
    text-align: center;
    list-style-type: none;  
}
nav ul
{
    margin: 0;
    padding: 0;
}
nav ul li
{
    display: inline-block;
    position: relative;

}

nav ul li a
{
    display: block;

    padding: 3rem 8rem;


    text-decoration: none;
    color: rgb(119, 119, 119);
    font-family: bebas;
    font-size: 4rem; 
    user-select: none;  
    transition-duration: 600ms;
}



nav ul li a:active
{
    color: #C3083F;
}

.dropdown
{
    z-index: 99;

    width: fit-content;
    display: none;


    margin-top: -1rem;
    margin-left: -1.5rem;

    position: absolute;

    background-color: #1A1A1C;
    border-radius: 0% 0% 4% 4%;
}

.dropdown li
{
    display: block;
    margin: .2rem 0rem;
    
}
li:hover .dropdown
{
    display: block;
    
}



/* #endregion */

/* #region ABOUT ME */

.main_container
{
    background-color: #313135;

    border-radius: 4rem;
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;
    display: grid;
    grid-template-areas: 
    "intro"
    "skills"
    "education";

}
.main_container h1
{
    font-family: bebas;
    color: white;
    font-size: 12rem;
    text-align: center;
    user-select: none;

    transition-duration: 800ms; 
}

.intro
{
    grid-area: intro;

}

.skills
{
    grid-area: intro;
}

.education
{
    grid-area: education;
}

/* #endregion */

/* #region MEDIA */
@media (max-width: 480px) {
    .return
    {
        padding: 0;
        margin: 0;
        position: fixed;
        top: 86vh;
        left: 77vw;    
    }   
    .return a
    {   
        font-size: 4rem;

    }

    .hero_container
    {
        
        max-width: 100%;
        height: 100vh;

    }

    .text
    {
        position: absolute;
        margin-top: -48rem;
    }
    
    .hero_container img
    {
        position: absolute;
        height: 70vh;
        width: auto;
        margin-right: 14vw;
        margin-top: 30vh;
    }

    .job
    {
        font-size: 1.4rem;
    }

    .greeting
    {
        margin: 0 2rem;
        margin-top: -2rem;
        font-size: 1.8rem;
    }

    nav ul li a
    {
        padding: 1rem;
        font-size: 2.2rem; 
    }

    nav ul.dropdown li a
    {
        padding: 1.2rem .7rem;

    }

    
    .dropdown li
    {
        margin: .2rem 1rem;
        
    }


    .dropdown
    {
        margin-top: -.3rem;
        margin-left: -2rem;

    }


    .main_container
    {

        width: 90%;
        margin-top: 5%;
        margin-left: 5%;

    }
    .main_container h1
    {
        font-size: 7rem;
        margin-top: 8%;
    }


}

@media (hover:hover)
{
    .greeting span:hover
    {
        font-size: 115%;
        color: #30D5C8;
        text-shadow: #C3083F .7rem .7rem;
        transition-duration: 600ms;
    }
    nav ul li a:hover
    {
        color: white;
        transition-duration: 300ms;
        
    }
    .return a:hover
    {
        color: #C3083F;
        border-radius: 1rem;
        transition-duration: 400ms;

    }

}
/* #endregion */

