
/* #region FONTS */

@font-face {
    font-family: Source;
    src: url(Fonts/Source.ttf);
}

@font-face {
    font-family: Mailand;
    src: url(Fonts/Mailand.otf);
}

@font-face {
    font-family: Glimp;
    src: url(Fonts/Glimp.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(Fonts/Bebas.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(Fonts/OpenSans.ttf);
}

@font-face {
    font-family: OpenSansLight;
    src: url(Fonts/OpenSans-Light.ttf);
}


/*#endregion*/

:root{
    font-size: 62.5%;
}
::-webkit-scrollbar
{
    background-color: #1A1A1C;

}
::-webkit-scrollbar-thumb
{
    border-radius: 20px;
    background-color: #C3083F;

}

html
{
    scroll-behavior: smooth;
    
}
body
{
    width: 100%;
    background-color: #262629;

    padding: 0;
    margin: 0;

    font-size: 1.6rem;
    color: white;
}

/* #region LOADING PAGE */

.loading
{

    position: fixed;

    display: flex;

    justify-content: center;
    align-items: center;

    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: #1A1A1C;

    transition-duration: 1000ms;
    

}
.loading h1{
    color: #C3083F;
    

    font-family: bebas;
    font-size: 10vw;


    text-align: center;
    user-select: none;

}
.loading h1 span{
    color: white;

}
.loading_hide
{
    opacity: 0;
    visibility: hidden;    
}

/* #endregion */

/* #region RETURN */
.return
{
    z-index: 99;
    position: fixed;
    margin: 5rem;
    bottom: 0;
    left: 0;
}
.return a
{   
    text-align: center;
    padding: 1rem 1.6rem 1.6rem 1.4rem;
    text-decoration: none;
    color: white;
    font-size: 5rem;
    background-color: #1A1A1C;
    border: #C3083F solid;
    border-radius: 100%;
    transition-duration: 400ms;
}


.return a:hover
{
    color: #C3083F;
    border-radius: 1rem;
    transition-duration: 400ms;

}

/* #endregion */

/* #region HERO */



.hero_container
{
    
    max-width: 100%;
    height: 100vh;
    align-items: center;

    display: flex;
    justify-content: space-evenly;
}

.text
{
    z-index: 10;

    text-align: center;
    user-select: none;
}

.job
{
    font-family: glimp;
    font-size: 2.5rem;
}

.greeting
{
    margin-top: -4.2rem;
    font-family: bebas;
    font-size: 4rem;
}

.greeting span
{
    
    color: #C3083F;
    transition-duration: 600ms;
}



.hero_container img
{
    z-index: 9;
    display: block;
    max-height: 100vh;
    width: auto;
}



/* #endregion */

/* #region NAVIGATION */


header
{

    z-index: 97;
    width: 100%;
    background-color: #1A1A1C;
}
nav
{  
    text-align: center;
    list-style-type: none;  
}
nav ul
{
    margin: 0;
    padding: 0;
}
nav ul li
{
    display: inline-block;
    position: relative;

}

nav ul li a
{
    display: block;

    padding: 3rem 8rem;


    text-decoration: none;
    color: rgb(119, 119, 119);
    font-family: bebas;
    font-size: 4rem; 
    user-select: none;  
    transition-duration: 600ms;
}



nav ul li a:active
{
    color: #C3083F;
}

.dropdown
{
    z-index: 98;

    width: fit-content;
    display: none;


    margin-top: -1rem;
    margin-left: -1.5rem;

    position: absolute;

    background-color: #1A1A1C;
    border-radius: 0% 0% 4% 4%;
}

.dropdown li
{
    display: block;
    margin: .2rem 0rem;
    
}
nav ul li a:hover
{
    color: white;
    transition-duration: 300ms;
    
}
li:hover .dropdown
{
    display: block;
    
}



/* #endregion */

/* #region ABOUT ME */

.main_container
{
    border: solid transparent .4rem ;

    background-color: #313135;

    border-radius: 4rem;
    width: 96%;
    margin-top: 1%;
    margin-left: 1.8%;

    display: grid;
    

    grid-template-areas: 
    "title"
    "intro"
    "skills"
    "education";

    transition-duration: 600ms; 

}
.main_container h1
{
    grid-area: title;

    margin-top: 4%;
    font-family: bebas;
    color: #C3083F;
    font-size: 15rem;
    text-align: center;
    user-select: none;

    text-decoration: underline;

}

.main_container h2
{
    grid-area: title;

    font-family: bebas;
    color: white;

    font-size: 9rem;

    text-align: center;
    user-select: none;
}

.main_container:hover
{
    border-color: #C3083F;
}
/* #region INTRO*/
.intro
{

    width: 90%;
    margin-left: 5%;
    grid-area: intro;
    display: grid;
    grid-template-areas: 
    "title"
    "content";
}
.introTitle
{
    margin-top: -14rem;
    grid-area: title;
    width: 100%;
}


.introContent
{
    grid-area: content;
    margin-top: -8rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 3fr;
}

.introImage img
{
    display: block;
    width: 100%;
    height: auto;
    background-color: #262629;
    border-radius: 2rem;
}

.introText
{
    
    margin-top: -2rem;
    display: block;
    font-family: OpenSansLight;
    font-size: 2.6rem;
}
.introText .info
{
    margin-bottom: 0;
}

.introText ul
{
    margin-top: .5rem;
}



.introText ul li span
{
    color: #C3083F;
    font-weight: bold;
}

.greeting span:hover
{
    font-size: 115%;
    color: #30D5C8;
    text-shadow: #C3083F .7rem .7rem;
    transition-duration: 600ms;
}


/* #endregion */


/* #region SKILL */

.skills
{
    width: 80%;
    display: grid;
    grid-template-areas: 
    "title"
    "content";
    justify-self: center;
}
.skillTitle 
{
    grid-area: title;
}

.skillContent
{

    grid-area: content;
    display: grid;
    grid-template-areas: 
    "text"
    "langs";


}

.skillText
{
    margin-top: -10rem;
    grid: text;
    text-align: center;
}
.skillText p
{
    font-family: openSansLight;
    font-size: 2.6rem;
}

.skillText p span
{
    color: #C3083F;
    font-size: 3.2rem;
    font-weight: bold;
}

.langs
{
    justify-self: center;
    grid-area: langs;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
}
.langItem
{
    background-color: #262629;
    border-radius: 2rem;
    width: 30rem;
    padding-bottom: 4rem;

    transition-duration: 800ms;


}
.langItem h3
{
    margin-top: 10%;

    font-family: bebas;
    font-size: 5.5rem;
    text-align: center;

    user-select: none;

    transition-duration: 1000ms;
    transition-delay: 200ms;

    
}

.langItem img
{
    margin-top: -10%;
    margin-left: 15%;
    width: 70%;

    transition-duration: 800ms;
    transition-delay: 300ms;
}

.langItem p
{
    color: transparent;

    font-family: openSans;
    font-size: 1.9rem;

    text-align: center;
    padding: 0 2rem;
    margin-top: -80%;
    user-select: none;

    transition-duration: 1000ms;

}
.langItem:hover
{
    background-color: #C3083F;

    box-shadow: #1A1A1C 1rem 1rem 1rem;


}

.langItem:hover > div img
{
    opacity: 0;
}

.langItem:hover > h3
{
    color: #313135;

    transition-duration: 1000ms;
    transition-delay: 600ms;

}



.langItem:hover > p
{
    color: #313135;
    transition-duration: 1000ms;
    transition-delay: 1000ms;
    
    
}

   
/* #endregion */


/* #endregion */


/* #region MEDIA*/

/* Phones */
@media (max-width: 885px) {

    .loading h1{
        font-size: 12vw;
    }
    .return
    {
        padding: 0;
        margin: 0;
        
        top: auto;
        left: auto;
        bottom: 4vh;
        right: 4vw;    
    }   
    .return a
    {   
        font-size: 3rem;

    }


    .text
    {
        position: absolute;
        margin-top: -42rem;
    }
    
    .hero_container img
    {
        position: absolute;
        height: 65vh;
        width: auto;
        margin-right: 14vw;
        margin-top: 35vh;
    }

    .job
    {
        font-size: 1.4rem;
    }

    .greeting
    {
        margin: 0 2rem;
        margin-top: -2rem;
        font-size: 1.8rem;
    }

    nav ul li a
    {
        padding: 1rem;
        font-size: 2.2rem; 
    }

    nav ul.dropdown li a
    {
        padding: 1.2rem .7rem;

    }

    
    .dropdown li
    {
        margin: .2rem 1rem;
        
    }


    .dropdown
    {
        margin-top: -.3rem;
        margin-left: -2rem;

    }

    .main_container
    {
        border: solid #C3083F .2rem;
        width: 92%;
        margin-left: 3.55%;
        margin-top: 5%;

    }
    .main_container h1
    {
        font-size: 5.5rem;
        margin-top: 8%;
    }

    

    .greeting span:hover
    {
        text-shadow: #C3083F .4rem .4rem;
    }
    nav ul li a:hover
    {
        color: rgb(119, 119, 119);
        
    }
    .return a:hover
    {
        color: white;
        border-radius: 100%;

    }

    .main_container:hover
    {
        border-color: #C3083F;
    }

    

    .main_container h2
    {

        font-size: 3.2rem;

    }

    /* #region INTRO*/
    .introTitle
    {
        margin-top: -6rem;
    }
    .introContent
    {
        margin-top: -2.3rem;
        gap: .8rem;
        grid-template-columns: 1fr 2fr;
    }

    .introText
    {
        
        margin-top: -1rem;
        font-size: 1.1rem;
    }


    .introText ul
    {
        margin-top: .2rem;
        margin-left: -2.8rem;
    }
    /* #endregion */

    /* #region SKILL */
    .skills
    {
        width: 90%;
    }


    .skillText
    {
        margin-top: -3.4rem;

    }
    .skillText p
    {
        font-size: 1.1rem;
    }

    .skillText p span
    {
        font-size: 1.4rem;
    }

    .langs
    {
        gap: 1rem;
        grid-template-columns: repeat(2,1fr);
    }
    .langItem
    {
        width: 14rem;
        padding-bottom: 0rem;



    }
    .langItem h3
    {

        font-size: 2rem;



        
    }

    .langItem img
    {
        margin-top: 10%;
        margin-left: 15%;
        width: 70%;

    }

    .langItem p
    {

        font-size: 1rem;

        padding: 0 2rem;
        margin-top: -97%;


    }


    
    /* #endregion */


}


/* Tablets */
@media (min-width: 886px) and (max-width: 1280px) {
    
    .loading h1{
        font-size: 11vw;
    }
    .return
    {
        padding: 0;
        margin: 0;
        
        top: auto;
        left: auto;
        bottom: 4vh;
        right: 3vw;    
    }   
    .return a
    {   
        font-size: 3.5rem;
    }

    .text
    {
        margin-top: 60vh;
        position: absolute;
    }
    
    .hero_container img
    {
        position: absolute;
        height: 80vh;
        width: auto;
        margin-right: 10vw;
        margin-top: 20vh;
    }

    .job
    {
        font-size: 1.8rem;
    }

    .greeting
    {
        margin: 0 2rem;
        margin-top: -3rem;

        font-size: 2.5rem;
    }

    nav ul li a
    {
        padding: 1rem;
        font-size: 2.2rem; 
    }

    nav ul.dropdown li a
    {
        padding: 1.2rem .7rem;

    }

    
    .dropdown li
    {
        margin: .2rem 1rem;
        
    }


    .dropdown
    {
        margin-top: -.3rem;
        margin-left: -2rem;

    }


    nav ul li a
    {
        font-size: 2.8rem; 
    }

    .main_container
    {
        margin-top: 5%;
        border-color: #C3083F;
    }
    .main_container h1
    {
        font-size: 8rem;
        margin-top: 4%;
    }

    /* #region INTRO*/
    .introTitle
    {
        margin-top: -10rem;
    }

    .main_container h2
    {


        font-size: 4.5rem;

    }

    .introContent
    {
        gap: 1rem;
        margin-top: -4rem;
        grid-template-columns: 2fr 3fr;
    }


    .introText
    {
        
        margin-top: -1.5rem;
        font-size: 1.4rem;
    }

    .introText ul
    {
        margin-top: .4rem;
        margin-left: -2.2rem;
    }
    /* #endregion */



    .greeting span:hover
    {
        text-shadow: #C3083F .4rem .4rem;
    }
    nav ul li a:hover
    {
        color: rgb(119, 119, 119);
        
    }
    .return a:hover
    {
        color: white;
        border-radius: 100%;

    }

    .main_container:hover
    {
        border-color: #C3083F;
    }

    /* #region SKILL */
    .skills
    {
        width: 90%;
    }


    .skillText
    {
        margin-top: -5.2rem;

    }
    .skillText p
    {
        font-size: 1.4rem;
    }

    .skillText p span
    {
        font-size: 2rem;
    }

    .langs
    {
        gap: 2rem;
        grid-template-columns: repeat(3,1fr);
    }
    .langItem
    {
        width: 24rem;
        padding-bottom: 2rem;



    }
    .langItem h3
    {

        font-size: 3.5rem;

    }

    .langItem img
    {
        margin-top: -14%;
        margin-left: 20%;
        width: 60%;

    }

    .langItem p
    {

        font-size: 1.3rem;

        padding: 0 2rem;
        margin-top: -60%;


    }


    
    /* #endregion */
}

@media (min-width: 700px) and (max-width: 885px)
{
    

    /* #region SKILL */
    .skills
    {
        width: 90%;
    }


    .skillText
    {
        margin-top: -3.4rem;

    }
    .skillText p
    {
        font-size: 1.1rem;
    }

    .skillText p span
    {
        font-size: 1.4rem;
    }

    .langs
    {
        gap: 1rem;
        grid-template-columns: repeat(3,1fr);
    }
    .langItem
    {
        width: 16rem;
        padding-bottom: 1rem;



    }
    .langItem h3
    {

        font-size: 2rem;



        
    }

    .langItem img
    {
        margin-top: -2%;
        margin-left: 15%;
        width: 70%;

    }

    .langItem p
    {

        font-size: 1rem;

        padding: 0 2rem;
        margin-top: -80%;


    }


    
    /* #endregion */

}


/* Phones Horizontal */
@media (min-width: 480.5px) and (max-width: 800px) and (max-height: 500px) {
    
    .return
    {
        padding: 0;
        margin: 0;
        
        top: auto;
        left: auto;
        bottom: 5.5vh;
        right: 2vw;    
    }   
    .return a
    {   
        font-size: 2.4rem;
    }

    .text
    {
        margin-top: 55vh;
        position: absolute;
    }
    
    .hero_container img
    {
        position: absolute;

        height: 100vh;
        width: auto;

        margin-right: 6vw;
        margin-top: 0vh;
    }

    .job
    {
        font-size: 1rem;
    }

    .greeting
    {
        margin: 0 2rem;
        margin-top: -2.5rem;

        font-size: 2rem;
    }

    

    nav ul li a
    {
        padding: 1.4rem 2rem;
        font-size: 2.5rem; 
    }

    .main_container
    {
        border-color: #C3083F;
    }
    .main_container h1
    {
        font-size: 7rem;
        margin-top: 4%;
    }

    /* #region INTRO*/
    .introTitle
    {
        margin-top: -7rem;
    }

    .introTitle h2
    {

        font-size: 4.5rem;

    }

    .introContent
    {
        gap: 1rem;
        margin-top: -3.5rem;
        grid-template-columns: 1fr 2fr;
    }


    .introText
    {
        
        margin-top: -1.8rem;
        font-size: 1.8rem;
    }

    .introText ul
    {
        margin-top: .3rem;
        margin-left: -1rem;
    }
    /* #endregion */

    .greeting span:hover
    {
        text-shadow: #C3083F .4rem .4rem;
    }
    nav ul li a:hover
    {
        color: rgb(119, 119, 119);
        
    }
    .return a:hover
    {
        color: white;
        border-radius: 100%;

    }
    .main_container:hover
    {
        border-color: #C3083F;
    }

    /* #region SKILL */
    .skills
    {
        width: 90%;
    }


    .skillText
    {
        margin-top: -5.2rem;

    }
    .skillText p
    {
        font-size: 1.8rem;
    }

    .skillText p span
    {
        font-size: 2.4rem;
    }

    .langs
    {
        gap: 2rem;
        grid-template-columns: repeat(3,1fr);
    }
    .langItem
    {
        width: 18rem;
        padding-bottom: 0rem;



    }
    .langItem h3
    {

        font-size: 3rem;

    }

    .langItem img
    {
        margin-top: 10%;
        margin-left: 15%;
        width: 70%;

    }

    .langItem p
    {

        font-size: 1.3rem;

        padding: 0 2rem;
        margin-top: -94%;


    }


    
    /* #endregion */
}

/* #endregion */

