
/* #region FONTS */

@font-face {
    font-family: Source;
    src: url(Fonts/Source.ttf);
}

@font-face {
    font-family: Mailand;
    src: url(Fonts/Mailand.otf);
}

@font-face {
    font-family: Glimp;
    src: url(Fonts/Glimp.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(Fonts/Bebas.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(Fonts/OpenSans.ttf);
}

@font-face {
    font-family: OpenSansLight;
    src: url(Fonts/OpenSans-Light.ttf);
}


/*#endregion*/

body
{
    background-color: #262629;
    width: 99%;

}
div
{
    display: flex;
    width: 100%;
    justify-content: center;

}
div h1
{
    margin-top: 34vh;
    color: #C3083F;
    font-weight: lighter;
    font-size: 6vw;
    font-family: bebas;
    user-select: none;
}