/* #region FONTS */

@font-face {
    font-family: Source;
    src: url(Fonts/Source.ttf);
}

@font-face {
    font-family: Mailand;
    src: url(Fonts/Mailand.otf);
}

@font-face {
    font-family: Glimp;
    src: url(Fonts/Glimp.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(Fonts/Bebas.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(Fonts/OpenSans.ttf);
}

@font-face {
    font-family: OpenSansLight;
    src: url(Fonts/OpenSans-Light.ttf);
}


/*#endregion*/

:root{
    font-size: 62.5%;
}
::-webkit-scrollbar
{
    background-color: #1A1A1C;

}
::-webkit-scrollbar-thumb
{
    border-radius: 20px;
    background-color: #C3083F;

}

html
{
    scroll-behavior: smooth;
    
}
body
{
    width: 100%;
    background-color: #262629;

    padding: 0;
    margin: 0;

    font-size: 1.6rem;
    color: white;
}


/* #region LOADING PAGE */

.loading
{

    position: fixed;

    display: flex;

    justify-content: center;
    align-items: center;

    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: #1A1A1C;

    transition-duration: 1000ms;
    

}
.loading h1{
    color: #C3083F;
    

    font-family: bebas;
    font-size: 10vw;


    text-align: center;
    user-select: none;

}
.loading h1 span{
    color: white;

}
.loading_hide
{
    opacity: 0;
    visibility: hidden;    
}

/* #endregion */

